/* line 1, ../sass/_blocks.scss */
.paper-block {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background: #f6f6f6;
  border: 1px solid #f9f9f9;
}
/* line 11, ../sass/_blocks.scss */
.paper-block.inner-shadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
}
/* line 15, ../sass/_blocks.scss */
.paper-block.flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 19, ../sass/_blocks.scss */
.paper-block.flat:before, .paper-block.flat:after {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  border-radius: 0px;
  max-width: 100%;
}
/* line 28, ../sass/_blocks.scss */
.paper-block.flat:before {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
/* line 33, ../sass/_blocks.scss */
.paper-block.curl {
  -webkit-border-radius: 0 0 100% 100%/0 0 10% 10%;
  -moz-border-radius: 0 0 100% 100%/0 0 10% 10%;
  -ms-border-radius: 0 0 100% 100%/0 0 10% 10%;
  -o-border-radius: 0 0 100% 100%/0 0 10% 10%;
  border-radius: 0 0 100% 100%/0 0 10% 10%;
}
/* line 37, ../sass/_blocks.scss */
.paper-block.curl:before, .paper-block.curl-right:before, .paper-block.curl:after, .paper-block.curl-left:after {
  -webkit-transform: skew(-16deg) rotate(-3deg);
  -moz-transform: skew(-16deg) rotate(-3deg);
  -ms-transform: skew(-16deg) rotate(-3deg);
  -o-transform: skew(-16deg) rotate(-3deg);
  transform: skew(-16deg) rotate(-3deg);
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  bottom: 12px;
  left: 10px;
  width: 50%;
  height: 50%;
}
/* line 47, ../sass/_blocks.scss */
.paper-block.curl:before, .paper-block.curl-right:before {
  -webkit-transform: skew(16deg) rotate(3deg);
  -moz-transform: skew(16deg) rotate(3deg);
  -ms-transform: skew(16deg) rotate(3deg);
  -o-transform: skew(16deg) rotate(3deg);
  transform: skew(16deg) rotate(3deg);
  left: auto;
  right: 10px;
}
/* line 55, ../sass/_blocks.scss */
.paper-block.curl-left {
  -webkit-border-radius: 0 0 0 100%/0 0 0 5%;
  -moz-border-radius: 0 0 0 100%/0 0 0 5%;
  -ms-border-radius: 0 0 0 100%/0 0 0 5%;
  -o-border-radius: 0 0 0 100%/0 0 0 5%;
  border-radius: 0 0 0 100%/0 0 0 5%;
}
/* line 64, ../sass/_blocks.scss */
.paper-block.curl-right {
  -webkit-border-radius: 0 0 100% 0/0 0 5% 0;
  -moz-border-radius: 0 0 100% 0/0 0 5% 0;
  -ms-border-radius: 0 0 100% 0/0 0 5% 0;
  -o-border-radius: 0 0 100% 0/0 0 5% 0;
  border-radius: 0 0 100% 0/0 0 5% 0;
}
/* line 67, ../sass/_blocks.scss */
.paper-block.curl-right:before {
  z-index: -1;
}
/* line 71, ../sass/_blocks.scss */
.paper-block.curl-right:after {
  display: none;
}
/* line 77, ../sass/_blocks.scss */
.paper-block.lift:before, .paper-block.lift:after {
  -webkit-box-shadow: 0 15px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 7px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
}
/* line 87, ../sass/_blocks.scss */
.paper-block.lift:before {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  left: auto;
  right: 10px;
}
/* line 99, ../sass/_blocks.scss */
.paper-block.light:before, .paper-block.light-right:before, .paper-block.light:after, .paper-block.light-left:before {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  left: 80px;
  bottom: 8px;
  width: 50%;
  height: 30%;
}
/* line 108, ../sass/_blocks.scss */
.paper-block.light:before, .paper-block.light-right:before {
  -webkit-box-shadow: -80px 0 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -80px 0 16px rgba(0, 0, 0, 0.2);
  box-shadow: -80px 0 16px rgba(0, 0, 0, 0.2);
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -ms-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}
/* line 114, ../sass/_blocks.scss */
.paper-block.light:after, .paper-block.light-left:before {
  -webkit-box-shadow: 80px 0 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 80px 0 16px rgba(0, 0, 0, 0.2);
  box-shadow: 80px 0 16px rgba(0, 0, 0, 0.2);
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transform: skew(-40deg);
  left: auto;
  right: 80px;
}
/* line 133, ../sass/_blocks.scss */
.paper-block.light-left:after {
  display: none;
}
/* line 138, ../sass/_blocks.scss */
.paper-block.levitation {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 18px 10px -15px rgba(0, 0, 0, 0.4), 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 18px 10px -15px rgba(0, 0, 0, 0.4), 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 18px 10px -15px rgba(0, 0, 0, 0.4), 0 1px 4px rgba(0, 0, 0, 0.2);
}
/* line 147, ../sass/_blocks.scss */
.paper-block.shade-horizontal:before, .paper-block.shade-bottom:before, .paper-block.shade-half-horizontal:before, .paper-block.shade-half-bottom:before, .paper-block.shade-horizontal:after, .paper-block.shade-top:after, .paper-block.shade-half-horizontal:after, .paper-block.shade-half-top:after {
  -webkit-border-radius: 100% 100%/15% 15%;
  -moz-border-radius: 100% 100%/15% 15%;
  -ms-border-radius: 100% 100%/15% 15%;
  -o-border-radius: 100% 100%/15% 15%;
  border-radius: 100% 100%/15% 15%;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  bottom: 0px;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
}
/* line 160, ../sass/_blocks.scss */
.paper-block.shade-horizontal:after, .paper-block.shade-top:after, .paper-block.shade-half-horizontal:after, .paper-block.shade-half-top:after {
  top: 0;
  bottom: 50%;
}
/* line 170, ../sass/_blocks.scss */
.paper-block.shade-bottom:after {
  display: none;
}
/* line 176, ../sass/_blocks.scss */
.paper-block.shade-half-horizontal:after, .paper-block.shade-half-top:after, .paper-block.shade-half-horizontal:before, .paper-block.shade-half-bottom:before {
  -webkit-border-radius: 100% 100%/100% 25%;
  -moz-border-radius: 100% 100%/100% 25%;
  -ms-border-radius: 100% 100%/100% 25%;
  -o-border-radius: 100% 100%/100% 25%;
  border-radius: 100% 100%/100% 25%;
}
/* line 192, ../sass/_blocks.scss */
.paper-block.shade-half-bottom:after {
  display: none;
}
/* line 198, ../sass/_blocks.scss */
.paper-block.shade-vertical:before, .paper-block.shade-left:before, .paper-block.shade-vertical:after, .paper-block.shade-right:after {
  -webkit-border-radius: 15% 15%/100% 100%;
  -moz-border-radius: 15% 15%/100% 100%;
  -ms-border-radius: 15% 15%/100% 100%;
  -o-border-radius: 15% 15%/100% 100%;
  border-radius: 15% 15%/100% 100%;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 50%;
  top: 10px;
  bottom: 10px;
  height: auto;
  width: auto;
}
/* line 211, ../sass/_blocks.scss */
.paper-block.shade-vertical:after, .paper-block.shade-right:after {
  right: 0;
  left: 50%;
}
/* line 221, ../sass/_blocks.scss */
.paper-block.shade-left:after {
  display: none;
}
/* line 227, ../sass/_blocks.scss */
.paper-block.stacked-chaos:before, .paper-block.stacked-chaos:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}
/* line 235, ../sass/_blocks.scss */
.paper-block.stacked-chaos:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 0px;
  transform: rotate(-2.5deg);
}
/* line 242, ../sass/_blocks.scss */
.paper-block.stacked-chaos:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
/* line 251, ../sass/_blocks.scss */
.paper-block.stacked {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 3px 3px 0 #f6f6f6, 4px 4px 0 rgba(0, 0, 0, 0.125), 6px 6px 0 #f6f6f6, 7px 7px 0 rgba(0, 0, 0, 0.15), 9px 9px 0 #f6f6f6, 10px 10px 0 rgba(0, 0, 0, 0.175);
}
/* line 264, ../sass/_blocks.scss */
.paper-block:before, .paper-block:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: -1;
  max-width: 300px;
}
/* line 286, ../sass/_blocks.scss */
.paper-block.realshadow.to-left {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), -4px 0px 3px rgba(0, 0, 0, 0.04), -11px 0px 6px rgba(0, 0, 0, 0.04), -20px 0px 10px rgba(0, 0, 0, 0.04), -34px 0px 15px rgba(0, 0, 0, 0.04), -51px 0px 21px rgba(0, 0, 0, 0.04);
}
/* line 295, ../sass/_blocks.scss */
.paper-block.realshadow.to-right {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 4px 0px 3px rgba(0, 0, 0, 0.04), 11px 0px 6px rgba(0, 0, 0, 0.04), 20px 0px 10px rgba(0, 0, 0, 0.04), 34px 0px 15px rgba(0, 0, 0, 0.04), 51px 0px 21px rgba(0, 0, 0, 0.04);
}
/* line 305, ../sass/_blocks.scss */
.paper-block.realshadow.to-bottom {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 3px rgba(0, 0, 0, 0.04), 0px 11px 6px rgba(0, 0, 0, 0.04), 0px 20px 10px rgba(0, 0, 0, 0.04), 0px 34px 15px rgba(0, 0, 0, 0.04), 0px 51px 21px rgba(0, 0, 0, 0.04);
}
/* line 315, ../sass/_blocks.scss */
.paper-block.realshadow.to-top {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px -2px 3px rgba(0, 0, 0, 0.04), 0px -5px 6px rgba(0, 0, 0, 0.04), 0px -10px 10px rgba(0, 0, 0, 0.04), 0px -17px 15px rgba(0, 0, 0, 0.04), 0px -25px 21px rgba(0, 0, 0, 0.04);
}
/* line 325, ../sass/_blocks.scss */
.paper-block.realshadow.to-left-top {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), -2px -2px 3px rgba(0, 0, 0, 0.04), -5px -5px 6px rgba(0, 0, 0, 0.04), -10px -10px 10px rgba(0, 0, 0, 0.04), -17px -17px 15px rgba(0, 0, 0, 0.04), -25px -25px 21px rgba(0, 0, 0, 0.04);
}
/* line 335, ../sass/_blocks.scss */
.paper-block.realshadow.to-right-top {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 2px -2px 3px rgba(0, 0, 0, 0.04), 5px -5px 6px rgba(0, 0, 0, 0.04), 10px -10px 10px rgba(0, 0, 0, 0.04), 17px -17px 15px rgba(0, 0, 0, 0.04), 25px -25px 21px rgba(0, 0, 0, 0.04);
}
/* line 345, ../sass/_blocks.scss */
.paper-block.realshadow.to-left-bottom {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), -2px 2px 3px rgba(0, 0, 0, 0.04), -5px 5px 6px rgba(0, 0, 0, 0.04), -10px 10px 10px rgba(0, 0, 0, 0.04), -17px 17px 15px rgba(0, 0, 0, 0.04), -25px 25px 21px rgba(0, 0, 0, 0.04);
}
/* line 354, ../sass/_blocks.scss */
.paper-block.realshadow.to-right-bottom {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 2px 2px 3px rgba(0, 0, 0, 0.04), 5px 5px 6px rgba(0, 0, 0, 0.04), 10px 10px 10px rgba(0, 0, 0, 0.04), 17px 17px 15px rgba(0, 0, 0, 0.04), 25px 25px 21px rgba(0, 0, 0, 0.04);
}

/* line 1, ../sass/_paper-style.scss */
.paperko-folded {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.025)), color-stop(33%, rgba(255, 255, 255, 0.05)), color-stop(33%, rgba(0, 0, 0, 0.05)), color-stop(67%, rgba(255, 255, 255, 0.05)), color-stop(67%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(255, 255, 255, 0.025)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.05) 33%, rgba(0, 0, 0, 0.05) 33%, rgba(255, 255, 255, 0.05) 67%, rgba(0, 0, 0, 0.05) 67%, rgba(255, 255, 255, 0.025));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.05) 33%, rgba(0, 0, 0, 0.05) 33%, rgba(255, 255, 255, 0.05) 67%, rgba(0, 0, 0, 0.05) 67%, rgba(255, 255, 255, 0.025));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.05) 33%, rgba(0, 0, 0, 0.05) 33%, rgba(255, 255, 255, 0.05) 67%, rgba(0, 0, 0, 0.05) 67%, rgba(255, 255, 255, 0.025));
  background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.05) 33%, rgba(0, 0, 0, 0.05) 33%, rgba(255, 255, 255, 0.05) 67%, rgba(0, 0, 0, 0.05) 67%, rgba(255, 255, 255, 0.025));
}

/* line 6, ../sass/_paper-style.scss */
.paperko-list, .paperko-list-bullets {
  background: #fff;
}
/* line 9, ../sass/_paper-style.scss */
.paperko-list ul, .paperko-list-bullets ul {
  list-style: none;
  padding: 1em 0;
}
/* line 13, ../sass/_paper-style.scss */
.paperko-list ul:after, .paperko-list-bullets ul:after {
  content: '';
  position: absolute;
  left: 25px;
  top: -1px;
  border-left: 1px solid #f0d6d5;
  border-right: 1px solid #f0d6d5;
  width: 1px;
  height: 101%;
}
/* line 26, ../sass/_paper-style.scss */
.paperko-list li, .paperko-list-bullets li {
  border-bottom: 1px solid #cddcf3;
  padding: 8px 10px 2px 35px;
}

/* line 35, ../sass/_paper-style.scss */
.paperko-list-bullets li {
  position: relative;
}
/* line 38, ../sass/_paper-style.scss */
.paperko-list-bullets li:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  background: white;
  top: 50%;
  margin-top: -4px;
  left: 2%;
  z-index: 10;
  box-shadow: inset 2px 2px 5px rgba(125, 125, 125, 0.6), 2px 50.1em 5px white, 0px 50em rgba(125, 125, 125, 0.75), 2px 90.1em 5px white, 0px 90em rgba(125, 125, 125, 0.5), 2px 130.1em 5px white, 0px 130em rgba(125, 125, 125, 0.25);
}

/* line 1, ../sass/_scaffolding.scss */
.paper-block {
  position: relative;
  padding: 1em 1.5em;
}
/* line 6, ../sass/_scaffolding.scss */
.paper-block.paperko-list, .paper-block.paperko-list-bullets {
  padding: 0;
}
/* line 10, ../sass/_scaffolding.scss */
.paper-block p {
  padding: 0;
}

/* line 15, ../sass/_scaffolding.scss */
.row {
  margin-bottom: 2.5em;
}

/* line 19, ../sass/_scaffolding.scss */
h2 {
  font-size: 2em;
  padding-bottom: 1em;
}

/* line 24, ../sass/_scaffolding.scss */
h3 {
  padding-bottom: 1em;
  font-size: 1.5em;
}

/* line 29, ../sass/_scaffolding.scss */
h4 {
  padding: 0 0 0.25em;
  margin: 0 !important;
}
