.paper-block {
    @include border-radius($paperkoRadius);
    @include box-shadow($paperkoDefaultShadow);

    position: relative;
    background: $paperkoBackground;
    border: 1px solid $paperkoBorder;

    // default paper box-shadow

    &.inner-shadow{
        @include box-shadow(0 0 20px rgba(0, 0, 0, 0.05) inset);
    }

    &.flat {
        @include box-shadow(none);

        &:before,
        &:after {
            @include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));

            left: 0;
            top: 0;
            border-radius: $paperkoRadius;
            max-width: 100%;
        }

        &:before {
            @include box-shadow(0px 3px 8px rgba(0, 0, 0, 0.2));
        }
    }

    &.curl{
        @include border-radius(0 0 100% 100%/0 0 10% 10%);

        &:before,
        &:after{
            @include transform(skew(-16deg) rotate(-3deg));
            @include box-shadow(0 8px 12px rgba(0, 0, 0, 0.5));

            bottom:12px;
            left:10px;
            width:50%;
            height:50%;
        }

        &:before{
            @include transform(skew(16deg) rotate(3deg));

            left:auto;
            right:10px;
        }
    }

    &.curl-left{
        @include border-radius(0 0 0 100%/0 0 0 5%);

        &:after{
            @extend .curl:after;
        }

    }

    &.curl-right{
        @include border-radius(0 0 100% 0/0 0 5% 0);

        &:before{
            @extend .curl:before;
            z-index: -1;
        }
        &:after{display: none}

    }

    &.lift {
        &:before,
        &:after{
            @include box-shadow(0 15px 7px rgba(0, 0, 0, 0.4));
            @include transform(rotate(-3deg));

            z-index:-2;
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
        }
        &:before{
            @include transform(rotate(3deg));

            left:auto;
            right:10px;
        }

    }

    &.light{

        &:before,
        &:after{
            @include transform-origin(0,100%);

            left:80px;
            bottom:8px;
            width:50%;
            height:30%;
        }

        &:before{
            @include box-shadow(-80px 0 16px rgba(0, 0, 0, 0.2));
            @include transform(skew(40deg));

        }

        &:after{
            @include box-shadow(80px 0 16px rgba(0, 0, 0, 0.2));
            @include transform(skew(-40deg));

            left:auto;
            right:80px;
        }
    }

    &.light-right{
        &:before{
            @extend .light:before;
        }
    }

    &.light-left{
        &:before{
            @extend .light:after;
        }
        &:after{
            display: none;
        }
    }

    &.levitation{
        @include box-shadow(
                0 1px 4px rgba(0, 0, 0, 0.2),
                0 18px 10px -15px rgba(0, 0, 0, 0.4),
                0 1px 4px rgba(0, 0, 0, 0.2));
    }

    &.shade-horizontal{
        &:before,
        &:after{
            @include border-radius(100% 100% / 15% 15%);
            @include box-shadow(0 0 12px rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.2));

            top:50%;
            bottom:0px;
            left:10px;
            right:10px;

            width:auto;
            height: auto;
        }

        &:after{
            top:0;
            bottom: 50%;
        }
    }
    &.shade-top{
        &:after{ @extend .shade-horizontal:after}
    }
    &.shade-bottom{
        &:before{ @extend .shade-horizontal:before}
        &:after { display: none}
    }

    &.shade-half-horizontal{

        &:after,
        &:before{
            @include border-radius(100% 100% / 100% 25%);
        }

        &:after{
            @extend .shade-horizontal:after;
        }
        &:before{
            @extend .shade-horizontal:before;
        }
    }
    &.shade-half-top{
        &:after{ @extend .shade-half-horizontal:after}
    }
    &.shade-half-bottom{
        &:before{ @extend .shade-half-horizontal:before}
        &:after { display: none}
    }


    &.shade-vertical{
        &:before,
        &:after{
            @include border-radius(15% 15% / 100% 100% );
            @include box-shadow(0 0 16px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2));

            left:0;
            right:50%;
            top:10px;
            bottom:10px;

            height: auto;
            width: auto;
        }

        &:after{
            right:0;
            left: 50%;
        }
    }
    &.shade-right{
        &:after{ @extend .shade-vertical:after}
    }
    &.shade-left{
        &:before{ @extend .shade-vertical:before}
        &:after {display: none}
    }


    &.stacked-chaos{
        &:before,
        &:after {
            content: "";
            height: 98%;
            position: absolute;
            width: 100%;
            max-width: 100%;
            z-index: -1;
        }
        &:before {
            background: #fafafa;
            box-shadow: 0 0 8px rgba(0,0,0,0.2);
            left: -5px;
            top: 0px;
            transform: rotate(-2.5deg);
        }
        &:after {
            background: #f6f6f6;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
            right: -3px;
            top: 1px;
            transform: rotate(1.4deg);
        }
    }

    &.stacked{
        box-shadow:
            1px 1px   0 rgba(0,   0,   0,   0.100),
            3px 3px   0 rgba(246, 246, 246, 1.0),
            4px 4px   0 rgba(0,   0,   0,   0.125),
            6px 6px   0 rgba(246, 246, 246, 1.0),
            7px 7px   0 rgba(0,   0,   0,   0.150),
            9px 9px   0 rgba(246, 246, 246, 1.0),
            10px 10px 0 rgba(0,   0,   0,   0.175);
    }

    // common styles for before/after
    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        z-index: -1;
        max-width:$paperkoShadowMaxWidth;

    }











    &.realshadow{
        &.to-left{
            box-shadow:
                0px 0px 1px     rgba(0, 0, 0, 0.04),
                -4px 0px 3px    rgba(0, 0, 0, 0.04),
                -11px 0px 6px   rgba(0, 0, 0, 0.04),
                -20px 0px 10px  rgba(0, 0, 0, 0.04),
                -34px 0px 15px  rgba(0, 0, 0, 0.04),
                -51px 0px 21px rgba(0, 0, 0, 0.04);
        }
        &.to-right{
            box-shadow:
                0px 0px 1px    rgba(0, 0, 0, 0.04),
                4px 0px 3px    rgba(0, 0, 0, 0.04),
                11px 0px 6px   rgba(0, 0, 0, 0.04),
                20px 0px 10px  rgba(0, 0, 0, 0.04),
                34px 0px 15px  rgba(0, 0, 0, 0.04),
                51px 0px 21px rgba(0, 0, 0, 0.04);
        }

        &.to-bottom{
            box-shadow:
                0px 0px 1px    rgba(0, 0, 0, 0.04),
                0px 4px 3px    rgba(0, 0, 0, 0.04),
                0px 11px 6px   rgba(0, 0, 0, 0.04),
                0px 20px 10px  rgba(0, 0, 0, 0.04),
                0px 34px 15px  rgba(0, 0, 0, 0.04),
                0px 51px 21px  rgba(0, 0, 0, 0.04);
        }

        &.to-top{
            box-shadow:
                0px 0px 1px     rgba(0, 0, 0, 0.04),
                0px -2px 3px    rgba(0, 0, 0, 0.04),
                0px -5px 6px   rgba(0, 0, 0, 0.04),
                0px -10px 10px  rgba(0, 0, 0, 0.04),
                0px -17px 15px  rgba(0, 0, 0, 0.04),
                0px -25px 21px  rgba(0, 0, 0, 0.04);
        }

        &.to-left-top{
            box-shadow:
                0px 0px 1px         rgba(0, 0, 0, 0.04),
                -2px -2px 3px       rgba(0, 0, 0, 0.04),
                -5px -5px 6px       rgba(0, 0, 0, 0.04),
                -10px -10px 10px    rgba(0, 0, 0, 0.04),
                -17px -17px 15px    rgba(0, 0, 0, 0.04),
                -25px -25px 21px    rgba(0, 0, 0, 0.04);
        }

        &.to-right-top{
            box-shadow:
                0px 0px 1px         rgba(0, 0, 0, 0.04),
                    2px -2px 3px       rgba(0, 0, 0, 0.04),
                    5px -5px 6px       rgba(0, 0, 0, 0.04),
                    10px -10px 10px    rgba(0, 0, 0, 0.04),
                    17px -17px 15px    rgba(0, 0, 0, 0.04),
                    25px -25px 21px    rgba(0, 0, 0, 0.04);
        }

        &.to-left-bottom{
            box-shadow:
                0px 0px 1px         rgba(0, 0, 0, 0.04),
                    -2px 2px 3px       rgba(0, 0, 0, 0.04),
                    -5px 5px 6px       rgba(0, 0, 0, 0.04),
                    -10px 10px 10px    rgba(0, 0, 0, 0.04),
                    -17px 17px 15px    rgba(0, 0, 0, 0.04),
                    -25px 25px 21px    rgba(0, 0, 0, 0.04);
        }
        &.to-right-bottom{
            box-shadow:
                0px 0px 1px         rgba(0, 0, 0, 0.04),
                    2px 2px 3px       rgba(0, 0, 0, 0.04),
                    5px 5px 6px       rgba(0, 0, 0, 0.04),
                    10px 10px 10px    rgba(0, 0, 0, 0.04),
                    17px 17px 15px    rgba(0, 0, 0, 0.04),
                    25px 25px 21px    rgba(0, 0, 0, 0.04);
        }
    }
}


