.paper-block {
    position: relative;

    padding: 1em 1.5em;

    &.paperko-list,
    &.paperko-fold-horizontal{
        padding: 0;
    }

    p{
        padding: 0;
    }
}

.row{
    margin-bottom: 2.5em;
}

h2{
    font-size:2em;
    padding-bottom: 1em;
}

h3{
    padding-bottom: 1em;
    font-size:1.5em;
}

h4{
    padding: 0 0 .25em;
    margin: 0 !important;
}

.pull-left{
    margin-right: 1em;
}